{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Students-Create
    {% endblock %}
    {% block header %}Student Creation Page{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'students:create' %}">Create Student</a>
    </li>
    {% endblock %}
    {% block body %}
        <form method="POST">
            {% csrf_token %}
        
            {{ form|crispy }}
            
            <input type="submit" value="Create">
        </form>
    {% endblock %}