{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Student-Edit
    {% endblock %}
    {% block header %}Edit student{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'students:create' %}">Create Student</a>
    </li>
    {% endblock %}
    {% block body%}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-light" type="submit" value="Edit">
            <input class="btn btn-light" formaction="{% url 'students:delete' student.uuid %}" type="submit" value="Delete">
        </form>
    {% endblock %}