{% extends 'base.html' %}
    {% block title %}
        Students list
    {% endblock %}
    {% block header %}Students lists{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'students:create' %}">Create Student</a>
    </li>
    {% endblock %}
    {% block body %}
        <form action="{% url 'students:list' %}">
            <label>First name</label>
            <input type="text" name="first_name">

            <label>Last name</label>
            <input type="text" name="last_name">

            <input type="submit" value="Search">
        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Group(s) assigned to</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
        {% for student in page_obj %}

        {% include 'students/includes/students-table.html' %}
        
        {% endfor %}
        </table>
        {% include 'includes/pagination.html' %}
    {% endblock %}