{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Group-Edit
    {% endblock %}
    {% block header %}Edit Group{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'groups:create' %}">Create group</a>
    </li>
    {% endblock %}
    {% block body %}
        <form method="POST">
            {% csrf_token %}
        
            {{ form|crispy }}
            
            <input type="submit" value="Edit">
            <input class="btn btn-light" formaction="{% url 'groups:delete' group.uuid %}" type="submit" value="Delete">
        </form>
    {% endblock %}