{% extends 'base.html' %}
    {% block title %}
        Groups list        
    {% endblock %}
    {% block header %}Groups list{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'groups:create' %}">Create group</a>
    </li>
    {% endblock %}
    {% block body %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Group number</th>
                    <th scope="col">Course</th>
                    <th scope="col">Curator</th>
                    <th scope="col">Students</th>
                    <th scope="col">Starting date</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            {% for group in groups %}
            <tbody>
                <tr>
                    <td><a href="{% url 'groups:edit' group.uuid %}">{{ group.group_number }} - (edit)</a></td>
                    <td>{{ group.course }}</td>
                    <td>{{ group.curator }}</td>
                    <td>{% if group.headman %}
                            Head of the Group - {{ group.headman.first_name }} {{ group.headman.last_name }}
                            <br>
                        {% endif %}
                        {% for student in group.students.all %}                        
                        {{ student.first_name }} {{student.last_name}}<br>
                        {% endfor %}
                    </td>
                    <td>{{ group.starting_date.date }}</td>
                    <td><a class="btn btn-info" href="{% url 'groups:edit' group.uuid %}">Edit</a></td>
                </tr>
            </tbody>           
            {% endfor %}
        </table>
        {% include 'includes/pagination.html' %}
    {% endblock %}