{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Teacher-Create
    {% endblock %}
    {% block header %}Teacher Creation Page{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'teachers:create' %}">Create Teacher</a>
    </li>
    {% endblock %}
    {% block body%}
   
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Create">
        </form>
    {% endblock %}