{% extends 'base.html' %}
    {% block title %}
        Teachers list
    {% endblock %}
    {% block header %} Teachers list{% endblock %}
    {% block link_to_app %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'teachers:create' %}">Create Teacher</a>
    </li>
    {% endblock %}
    {% block body%}
        <form action="{% url 'students:list' %}">
            <label>First name</label>
            <input type="text" name="first_name">

            <label>Last name</label>
            <input type="text" name="last_name">

            <input type="submit" value="Search">
        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
        {% for teacher in teachers %}
            <tbody>
                <tr>
                    <td>{{ teacher.first_name }}</td>
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.birthdate.date }}</td>
                    <td><a class="btn btn-info" href="{% url 'teachers:edit' teacher.uuid %}">Edit</a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
        {% include 'includes/pagination.html' %}
        
    {% endblock %}