{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Log out
    {% endblock %}
    {% block header %}Logged out{% endblock %}
    {% block body %}
        <a class="btn btn-light" href="{% url 'accounts:login' %}">Log in</a>
        <a class="btn btn-light" href="{% url 'index' %}">Home</a>
    {% endblock %}