{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Profile
    {% endblock %}
    {% block header %}Profile edit page{% endblock %}
    {% block body %}
        <form method="POST" enctype="multipart/form-data">
            <img class="img-thumbnail p-1 m-2" width="200px" height="200px" src="{{ user.profile.image.url }}" alt="profile_pic">
            
            {% csrf_token %}
            {{ profile_form|crispy }}
            {{ user_form|crispy }}
            
            <input class="btn btn-light" type="submit" value="Save">
            <input class="btn btn-light" formaction="{% url 'accounts:password' %}" type="submit" value="Change Password">
        </form>
    {% endblock %}