
<tbody>
    <tr>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.phone | default:"-Unknown-" }}</td>
        <td>{{ student.birthdate.date }}</td>
        <td>{% for group in student.groups.all %}
                {{ group.course }}<br>
            {% endfor %}         
        </td>
        <td><a class="btn btn-info" href="{% url 'students:edit' student.uuid %}">Edit</a></td>
    </tr>
</tbody>