{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
</head>
<body>  
      <div>
        <div id="logo_line">
        <img id="lms_logo" src="{% static 'images/lms_pic.jpeg' %}">
        </div>
        <div>       
          <ul class="nav justify-content-end">
              {% block link_to_app %}
              {% endblock %} 
              <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}">Index</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'teachers:list' %}">Teachers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'students:list' %}">Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'groups:list' %}">Groups</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link p-1 m-1" href="{% url 'accounts:profile' %}">Logged in as <b>{{ user.username }}</b>  <img class="rounded-circle" width="25px" height="25px" src="{{ user.profile.image.url }}"></a>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>
              {% endif%}
          </ul>
        </div>
    </div>
    <hr>
    <div id="headers" class="shadow-sm p-3 mb-5 bg-white text-center rounded">
      <h1>{% block header %}{% endblock %}</h1>
      {% include 'includes/messages_handler.html' %}
    </div>
    {% block body %}
    {% endblock %}
</body>