{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block header %}Index Page{% endblock %}
{% block body %}
    <div class="jumbotron jumbotron-fluid" style="margin-right: 20px;; margin-left: 20px;">
        <div class="container" >
            <h1 class="display-4" style="color: blue">This is an Index Page</h1>
            <p class="lead">This page created for testing and learning purpose only.</p>
            <p class="lead"> At the top-right corner you can see links. Just press them. Ok?</p>
        </div>
    </div>
{% endblock %}