body {
    background-image: url('/static/images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    background-color: lightgray;
}

#lms_logo {
    border-radius: 3px;
    height: 50px;
}

#logo_line {
    background-color: rgba(47, 83, 201, 0.205);
}